.b{
    color: yellowgreen;
    background-color: black;
}
.d{
    color: blue;
    background-color: aqua;
}
 .green-back{
background-color: green;
 }
 #a{
    color: aqua;
 }
 #c{
    color: blueviolet;
 }