h1{
    color:orange;
    border: 20px dotted red;
    /* padding: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px; */
    /* padding: 10px 10px 10px 10px;
    margin: 10px; */
    margin: 100px auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 200px;
    margin-right: 200px;
    text-align: center;
    background-color:  aquamarine;
}